<div class="container mt-5">
    <h4 class="mb-2">upload blobs to Azure Storage Account</h4>

    <div *ngIf="isStorageConfigured">
        <div class="pt-3 px-1">
            <button (click)="showFileDialog()" class="btn btn-sm btn-outline-info">
                Choose File
            </button>

            <input class="d-none" type="file" #fileInput (change)="onFileSelected($event)" accept="*" />

            <div class="mt-3 w-75" [style.visibility]="showUploadProgress? 'visible' : 'hidden'">
                <small class="text-info">uploading...</small>
                <div class="progress w-50" style="height: 12px;">
                    <div id="uploadProgressBar" class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                        role="progressbar" aria-label="Success example" style="width: 0%" aria-valuenow="0"
                        aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            </div>
        </div>


        <div class="mt-4">
            <div class="d-flex flex-wrap">
                <div role="button" class="card m-1" *ngFor="let item of blobsInContainer$ | async"
                    style="width: 18rem; height: 12rem;">
                    <img src="{{item}}" class="card-img-top" alt="{{item}}" class="w-100 h-100"  onerror="this.src='../../../assets/imgs/default-placeholder.png';">

                    <div class="card-img-overlay card-img-overlay-bg card-img-delete">
                        <div class="d-flex flex-row-reverse">

                            <div role="button" (click)="deleteBlobFile(item)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#fff"
                                    class="bi bi-trash" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd"
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg>
                            </div>

                            <div role="button" class="me-3" (click)="downloadBlobFile(item)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#fff" class="bi bi-file-arrow-down" viewBox="0 0 16 16">
                                    <path d="M8 5a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5A.5.5 0 0 1 8 5z"/>
                                    <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                                  </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="!isStorageConfigured" class="mt-3">
        <h6 class="text-warning">Azure Storage is not configured.</h6>
    </div>

</div>